<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> testing</title>
    <!-- <link rel="sylesheet" href="style.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_css/profile.css' %}" />

</head>

<body>
    <div class="container">
        <div class="profile-card">
            <img src="images/pexels-andrea-piacquadio-3799124.jpg" class="cover-pic">
            <img src="images/pexels-andrea-piacquadio-3799124.jpg" class="profile-pic">

            <h3> Benson</h3>
            <p> i'm a backend developer , Keep building</p>
            <a href="#" class="follow-btn"> Follow</a>


            <div class="row">
                <div>
                    <p>Followers</p>
                    <h2>12k</h2>

                </div>

                <div>
                    <p>Following</p>
                    <h2>1.26M</h2>
                </div>
                <div>
                    <p>Videos</p>
                    <h2>15k</h2>
                </div>
            </div>

            <a href="#" class="view_profile">View Profile</a>

        </div>
    </div>








</body>

</html>